body {
  background-image: url('../src/assets/proyecto.png');
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  
}

#root {
  max-width: 1280px;
  padding: 2rem;
  text-align: center; 
  
}

.contenedor-principal {
  color:black;
  border-color:black;
  max-width: 700px;
  background-color:beige;
  padding: 30px;
  border-radius: 10px;
  margin-right: 150px;
}

.contenedor-principal h1 {
  color:olive;
}
.conteiner-contacts {
  display: flex;
  align-items:center;
}

button {
  padding: 0.5em 0.3em;
  font-size: 0.9em;
  border: 1px solid #888;
  margin:1px;
}

.div-form {
  margin: 30px;
}

.confirmation-dialog {
  color:royalblue;
  margin: 30px;
}

.list {
  list-style: none;
  text-align: start;
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@media (max-width: 420px){
  .contenedor-principal{
    padding: 15px ;
    margin: 0;
    font-size: medium;
  }
  #root{
    padding: 0%;
    text-align: start;
  }

  .contenedor-principal h1 {
    font-size: 30px;
    text-align: center;
  }

  .contenedor-princiapl li {
    font-size:small;
  }
}
