body {
  background-image: url('../src/assets/flota-cel.PNG');
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; 
  background-repeat: repeat;
}

.contenedor-principal {
  color:black;
  border-color:black;
  max-width: 500px;
  background-color:beige;
  padding: 30px;
  border-radius: 10px;
}

.contenedor-principal h1 {
  color:olive;
}

.div-form {
  margin: 30px;
}

.confirmation-dialog {
  color:royalblue;
  margin: 30px;
}

.list {
  list-style: none;
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@media (max-width: 420px){
  .contenedor-principal{
    padding: 15px ;
    margin: 0;
    font-size: medium;
  }
  #root{
    padding: 0%;
  }

  .contenedor-principal h1 {
    font-size: 30px;
  }

  .contenedor-princiapl li {
    font-size:small;
  }
}
